*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#recive{
    background-color: rgb(0, 0, 0);
    color: #00ff00;
    font-size: 15px;
    text-decoration: none;
    width: 80vw;
    height: 75vh;
    padding: 1%;

}
.chat{
    text-align: center;
    padding: 1%;
    background-color: #131313;
}
.title{
    animation: colorChange 3s linear infinite;
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    margin-left: 35% ;

}

.head{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10vh;
    background-color: #282828;

}

.logout{
    font-family: 'Press Start 2P', cursive;
    background: none;
    border: none;
    color: snow;
    padding:  20px;

}

.logout:hover{
    background-color: rgba(220, 220, 220, 0.505);
    transition: 0.2s;
}

.send{
    background-color: #131313;
    height: 10.6vh;
    text-align: center;

}

#send{
    all: unset;
    border: none;
    border-radius: 10px 0 0 10px;
    height: 50px;
    width: 60vw;
    text-align: center;
    background: #1E1E1E;
    color: snow;

}
#sendbtn{
    height: 50px;
    border: none;
    width: 100px;
    border-radius: 0 10px 10px 0;

}


#sendbtn:hover{
    background-color: rgb(190, 190, 190);
    
}

#sendbtn:active {
    background-color: rgb(255, 255, 255);

  }


.logoenter{
    width: auto;
    height: 15px;
    
}

  @keyframes myAnimation {
    0% {color: rgb(0, 251, 0); background-color: rgb(250, 255, 250);}
  }

@keyframes colorChange {
    0%   { color: rgb(255, 0, 0); }
    25%  { color: rgb(255, 165, 0); }
    50%  { color: rgb(255, 255, 0); }
    75%  { color: rgb(0, 128, 0); }
    100% { color: rgb(0, 0, 255); }
    75%  { color: rgb(0, 128, 0); }
    50%  { color: rgb(255, 255, 0); }
    25%  { color: rgb(255, 165, 0); }
    0%   { color: rgb(255, 0, 0); }

  }

